<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">US News</h1>
        <p class="lead">Read the lastest news and comment.</p>
        <a class="btn btn-primary btn-lg new" href="http://localhost:3000/scrape" role="button">Get Articles</a>
        <a class="btn btn-success btn-lg new" href="http://localhost:3000/" role="button">Home</a>
    </div>
</div>

{{!-- each articles syntex and each save article syntex --}}
{{#each story}}
<div class="card">
    <h5 class="card-header">News Headline</h5>
    <div class="card-body">
        <h5 class="card-title">Title: {{this.title}}</h5>
        <p class="card-text">Summary: {{this.summary}}</p>
        <p>Link: <a href="#">{{this.link}}</a></p>
        <ul>
           
            
    	    <li class="{{this._id}}">Comments Show Here</li>
            <button type="button" data-id="{{this._id}}" class="btn btn-success btn-sm ml-2 view">View</button>
            <button type="button" data-button="{{this._id}}" class="btn btn-danger btn-sm ml-2 delete">Delete</button>
	       
        </ul>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Enter your comment here</label>
            <textarea class="form-control" id="{{this._id}}" rows="3"></textarea>
        </div>
        <button class="btn btn-primary add" data-id="{{this._id}}">Add Comment</button>
    </div>
</div>
{{/each}}

